<div class="row">
    <div class="col-lg-12">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12" hidden>
                <div class="form-group">
                    <label for="cod_prod" class="form-label fw-bold">ID Producto</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
                        <input type="text" class="form-control" placeholder="ID Producto" name="id_prod" id="id_prod" value="{{ datos_img.fk_productos_id }}" readonly>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" hidden>
                <div class="form-group">
                    <label for="cod_prod" class="form-label fw-bold">ID Color</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
                        <input type="text" class="form-control" placeholder="ID Color" name="id_color" id="id_color" value="{{ datos_img.fk_color_id }}" readonly>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="nom_prod" class="form-label fw-bold">Agregar Imagen</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-images"></i></span>
                        <input type="file" class="form-control" name="images_modal" id="images_modal" multiple>
                    </div>
                </div>
                <button class="btn btn-outline-success" id="add_img_mod">Agregar Imagen</button>
            </div>
        </div>
        <hr>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">                  
                {% for im in images %}
                    <div class="carousel-item  {% if forloop.first %} active {% endif %}">                            
                        <img src="{{ im.imagenes.url }}" class="img-fluid" width="80%">
                        <div class="col-lg-12">
                            <button class="btn btn-outline-danger eli_images">Eliminar</button>                            
                            <input type="text" name="id_imagen" id="id_imagen" value="{{ im.id_galeria }}" hidden>
                        </div> 
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" style="height: 80%;">
                <span class="carousel-control-prev-icon bg-secondary bg-opacity-50 rounded-3" ></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" style="height: 80%;">
                <span class="carousel-control-next-icon bg-secondary bg-opacity-50 rounded-3"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>