{% extends 'layout/plantilla_administrador.html' %}

{% block titulo %}Tipo Productos{% endblock %}

{% block titulo_page %}Tipo Productos{% endblock %}

{% block page %}

{% load static %}


{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" id="success-alert" role="alert">
            <strong class="text-dark">{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h5>Consulta tipo productos</h5>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-end">
                    <a href="{% url 'alta_tipo_prod' %}" class="btn btn-outline-primary"><i class="fa-solid fa-circle-plus"></i> Alta</a>
                </div>
            </div>
            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered border-primary">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>UUID</th>
                            <th>Tipo</th>
                            <th>Talla</th>
                            <th>Color</th>
                            <th>Codigo Color</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tp in tipo_prod %}
                        <tr>
                            <td>{{ tp.id_tipo_prod }}</td>
                            <td>{{ tp.uuid_tipo_prod }}</td>
                            <td>{{ tp.tipo }}</td>
                            <td>{{ tp.talla }}</td>
                            <td>{{ tp.color }}</td>
                            <td>{{ tp.codigo_color }}</td>
                            <td>
                                <a href="{% url 'modifica_tipo_prod' tp.uuid_tipo_prod %}" class="btn btn-outline-primary" title="Modificar">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a href="{% url 'elimina_tipo_prod' tp.id_tipo_prod %}" class="btn btn-outline-danger" title="Eliminar"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
{% endblock %}