<label for="exampleColorInput" class="form-label fs-5 fst-italic">Color: {{ prod.fk_color.color }}</label>
<div class="colores">
    <!-- <input type="color" class="form-control form-control-color border-4 rounded-circle" id="exampleColorInput" value="#563d7c" title="Nombre del color"> -->
    {% for c in color %}    
        {% if c.fk_color__color == prod.fk_color.color %}
            <div class="color_prod form-control-color border-5 rounded-circle fs-6 active_color"
            title="{{ c.fk_color__color }}" style="background-color: {{ c.fk_color__cod_color }};">
                <input type="text" name="id_color_txt" id="id_color_txt" value="{{ c.fk_color__id_color }}" hidden>
                <input type="text" name="id_prod_txt" id="id_prod_txt" value="{{ prod.fk_productos_id }}" hidden>
            </div>
        {% else %}
            <div class="color_prod form-control-color border-5 rounded-circle fs-6"
            title="{{ c.fk_color__color }}" style="background-color: {{ c.fk_color__cod_color }};">
                <input type="text" name="id_color_txt" id="id_color_txt" value="{{ c.fk_color__id_color }}" hidden>
                <input type="text" name="id_prod_txt" id="id_prod_txt" value="{{ prod.fk_productos_id }}" hidden>
            </div>
        {% endif %}                                       
    {% endfor %}
        
</div>