{% extends 'layout/plantilla_administrador.html' %}

{% block titulo %}Modifica Seccion Vestimenta{% endblock %}

{% block titulo_page %}Modifica Seccion Vestimenta{% endblock %}

{% block page %}

{% load static %}


{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" id="success-alert" role="alert">
            <strong class="text-dark">{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h5>Modifica Seccion Vestimenta</h5>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-end">
                    <a href="{% url 'seccion' %}" class="btn btn-outline-primary"><i class="fa-solid fa-rotate-left"></i> Regresar</a>
                </div>
            </div>
            
        </div>
        <div class="card-body">
            <form action="{% url 'guarda_mod_seccion' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row"> 
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="id_seccion" class="form-label fw-bold">ID Seccion</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
                                <input type="text" class="form-control" placeholder="ID Seccion" name="id_seccion" id="id_seccion" value="{{ seccion.id_seccion }}" readonly>
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="uuid_seccion" class="form-label fw-bold">UUID Seccion</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-id-badge"></i></span>
                                <input type="text" class="form-control" placeholder="UUID Seccion" name="uuid_seccion" id="uuid_seccion" value="{{ seccion.uuid_seccion }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="seccion" class="form-label fw-bold">Seccion Vestimenta</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-transgender"></i></span>
                                <input type="text" class="form-control" placeholder="Seccion Vestimenta" name="seccion" id="seccion" value="{{ seccion.seccion }}">
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
            </form> 
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
{% endblock %}