<div style="background-color: rgb(204, 204, 204);">
    <p>
        <img src="http://127.0.0.1:8000/media/fondos/img3.webp" alt="" width="50%">
    </p>
    <p style=" font-size: 20px;">
        Se ha solicitado un upgrade a tu cuenta, con el usuario: {{ usuario }}, para ser administrador.
        <br>
        Con el siguiente correo <span style="text-decoration: none; color: black;">{{ correo }}.</span>
    </p>
    <br>
    <p>Entra a la siguiente <a href="http://127.0.0.1:8000/administrador/valida_admin/{{ uuid_sesion }}" style="font-size: medium;">liga</a> para poder habilitar tu correo.</p>
    <br>
    <p>
        Si tu no has echo esta solicitud favor de ignorar este correo y comunicate con nosotros
        <strong>Te recomendamos cambiar tu contraseña y verificar en tu cuenta todo este bien</strong>
        Si tienes alguna duda o aclaracion, favor de comunicarte con notros vía Whatsapp, Facebook, X, 
        o al correo clientes_pv@punto_venta.com.mx
    </p>

</div>