{% extends 'layout/plantilla_administrador.html' %}

{% block titulo %}Productos{% endblock %}

{% block titulo_page %}Productos{% endblock %}

{% block page %}

{% load static %}


{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" id="success-alert" role="alert">
            <strong class="text-dark">{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h5>Consulta productos</h5>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-end">
                    <a href="{% url 'alta_productos' %}" class="btn btn-outline-primary"><i class="fa-solid fa-circle-plus"></i> Alta</a>
                </div>
            </div>
            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered border-primary">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>UUID</th>
                            <th>Codigo</th>
                            <th>Producto</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Seccion</th>
                            <th>Tipo</th>
                            <th>Color</th>
                            <th>Codigo Color</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for productos in productos %}
                        <tr>
                            <td>{{ productos.id_producto }}</td>
                            <td>{{ productos.uuid_producto }}</td>
                            <td>{{ productos.codigo }}</td>
                            <td>{{ productos.nombre }}</td>
                            <td>{{ productos.descripcion }}</td>
                            <td>{{ productos.precio }}</td>
                            <td>{{ productos.seccion }}</td>
                            <td>{{ productos.tipo }}</td>
                            <td>{{ productos.color }}</td>
                            <td>{{ productos.codigo_color }}</td>
                            <td>
                                <a href="{% url 'modifica_producto' productos.uuid_det_prod %}" class="btn btn-outline-primary" title="Modificar"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{% url 'elimina_prod' productos.id_det_prod%}" class="btn btn-outline-danger" title="Eliminar"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
{% endblock %}