{% if tipo == 1 %}
    {% for datos in datos_cp %}

    <!-- estado input -->
    <!-- <div class="row"> -->
        <!-- ciudad input -->
        <!-- <div class="col-sm-6 col-md-4 col-lg-4 form-group cp_api">
            <label for="exampleFormControlInput1" class="form-label"><b>Codigo Postal</b></label>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-location-dot"></i></span>
                <input type="text" id="cod_postal_api" name="cod_postal_api" class="form-control"
                placeholder="Codigo Postal" maxlength="5" value="{{ datos.codigo_postal_api }}"/>
                <span class="text-danger fw-bold" id="span_postal"></span>
            </div>
        </div> -->

        <div class="col-sm-6 col-md-4 col-lg-4 form-group cp_api" id="div_estado_api">
            <label for="exampleFormControlInput1" class="form-label"><b>Estado</b></label>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-map-location-dot"></i></span>
                <input type="text" id="estado_api" name="estado_api" class="form-control" value="{{ datos.estado_api }}" readonly/>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 form-group cp_api" id="div_mun_api">
            <label for="exampleFormControlInput1" class="form-label"><b>Ciudad/municipio</b></label>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-flag"></i></span>
                <input type="text" id="muni_api" name="muni_api" class="form-control" value="{{ datos.municipio_api }}" readonly/>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 form-group cp_api" id="div_colonia_api">
            <label for="exampleFormControlInput1" class="form-label"><b>Colonias</b></label>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-signs-post"></i></span>
                <select name="colonias_select_api" id="colonias_select_api" class="form-select">
                    <option value="0">Seleccionar</option>
                    {% for col in cp.colonias %}
                        {% if datos.colonia_api == col %}
                            <option value="{{ col }}" selected>{{ col}}</option>
                        {% else %}
                            <option value="{{ col }}">{{ col}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <span class="text-danger fw-bold" id="span_colonias"></span>      
            </div>
        </div>
    <!-- </div> -->
    <div id="datos_api"> </div>
    {% endfor %}

{% else %}
<!-- estado input -->
<!-- <div class="row"> -->
    <!-- ciudad input -->
    <!-- <div class="col-sm-6 col-md-4 col-lg-4 form-group cp_api">
        <label for="exampleFormControlInput1" class="form-label"><b>Codigo Postal</b></label>
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="fa-solid fa-location-dot"></i></span>
            <input type="text" id="cod_postal_api" name="cod_postal_api" class="form-control"
            placeholder="Codigo Postal" maxlength="5" value="{{ cp.codigoPostal }}"/>
            <span class="text-danger fw-bold" id="span_postal"></span>
        </div>
    </div> -->

    <div class="col-sm-6 col-md-4 col-lg-4 form-group cp_api" id="div_estado_api">
        <label for="exampleFormControlInput1" class="form-label"><b>Estado</b></label>
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="fa-solid fa-map-location-dot"></i></span>
            <input type="text" id="estado_api" name="estado_api" class="form-control" value="{{ cp.estado }}" readonly/>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-4 form-group cp_api" id="div_mun_api">
        <label for="exampleFormControlInput1" class="form-label"><b>Ciudad/municipio</b></label>
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="fa-solid fa-flag"></i></span>
            <input type="text" id="muni_api" name="muni_api" class="form-control" value="{{ cp.municipio  }}" readonly/>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-4 form-group cp_api" id="div_colonia_api">
        <label for="exampleFormControlInput1" class="form-label"><b>Colonias</b></label>
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="fa-solid fa-signs-post"></i></span>
            <select name="colonias_select_api" id="colonias_select_api" class="form-select">
                <option value="0">Seleccionar</option>
                {% for col in cp.colonias %}
                    <option value="{{ col }}">{{ col}}</option>
                {% endfor %}
            </select>
            <span class="text-danger fw-bold" id="span_colonias"></span>      
        </div>
    </div>
<!-- </div> -->
<div id="datos_api"> </div>
{% endif %}