<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">
    Ingresa tu correo para verificar si tienes una cuenta.
</h5>

<div data-mdb-input-init class="form-outline mb-4">
    <label class="form-label fw-bold" for="correo">Correo</label>
    <input type="email" id="correo" class="form-control form-control-lg" />
</div>

<div class="pt-1 mb-4">
    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-lg btn-block" type="button"
        id="ingresar">Ingresar</button>
</div>