{# encabezado #}
<div class="center">
    <hr class="my-4">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong class="text-dark">
            <h5 class='fw-normal mb-3 pb-3' style='letter-spacing: 1px;'>
                Codigo ingresado Correcto. Verifica en tu bandeja de entrada los pasos que debes seguir.
            </h5>
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>